/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Bebas+Neue&display=swap');



* {
    font-family: 'Bebas Neue', cursive;
    color: rgb(46, 46, 46);
    background-color: rgb(214, 204, 192);
    margin: 0%;
    padding: 0%;
}